<div class="header-container">
  <div class="board-message-text">
    <p class="board-icon-text">
      <nssd-icon
        [disabledTitle]="messageDisableTitle"
        [isDisabled]="isLoading"
        [size]="'lg'"
        [title]="'Add another Board'"
        [type]="'clipboard'"
        (clickedIcon)="handleClickedAddBoard()">
      </nssd-icon>
      Add Board
    </p>
    <p class="board-icon-text">
      <nssd-icon
        [disabledTitle]="messageDisableTitle"
        [isDisabled]="isLoading"
        [size]="'lg'"
        [title]="'Save all Boards'"
        [type]="'download'"
        (clickedIcon)="handleClickedDownloadAll()">
      </nssd-icon>
      Download Boards
    </p>
    <p class="board-icon-text">
      <nssd-icon
        [disabledTitle]="messageDisableTitle"
        [isDisabled]="isLoading"
        [size]="'lg'"
        [title]="'Upload Boards'"
        [type]="'save'"
        (clickedIcon)="handleClickedUploadAll()">
      </nssd-icon>
      Save Boards
    </p>
    <p class="board-icon-text">
      <nssd-icon
        [disabledTitle]="messageDisableTitle"
        [isDisabled]="isLoading"
        [size]="'lg'"
        [title]="hideArchivedBoards ? messageShowArchivedBoard : messageHideArchivedBoard"
        [type]="hideArchivedBoards ? 'eye' : 'eye-slash'"
        (clickedIcon)="handleClickedHideShowArchivedBoards()">
      </nssd-icon>
      {{hideArchivedBoards ? messageShowArchivedBoard : messageHideArchivedBoard}}
    </p>
  </div>
</div>

<nssd-load-circle-indicator *ngIf="((!boardsData) || (!boardsData.length))" [isLoading]="isLoading"></nssd-load-circle-indicator>
<nssd-load-bar-indicator *ngIf="((!!boardsData) && (boardsData.length > 0))" [isLoading]="isLoading"></nssd-load-bar-indicator>

<ng-container *ngIf="!!boardsData">
  <ng-container *ngFor="let board of boardsData">
    <div *ngIf="((!!board) && (!!board.tasks) && ((!board.isArchived) || (!hideArchivedBoards)))" class="board-wrapper {{!board.isOpen ? 'collapsed-wrapper' : ''}}">
      <div class="board-title-container">
        <h1 *ngIf="!!board.name" class="board-title">{{board.name}}</h1>
        <div class="icon-container">
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [isShown]="((board.isOpen) && (!board.isArchived))"
            [size]="'2x'"
            [title]="'Add Task'"
            [type]="'plus'"
            (clickedIcon)="handleClickedBoardAddTask(board.id)">
          </nssd-icon>
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [size]="'2x'"
            [title]="board.isOpen ? 'Collapse Board' : 'Expand Board'"
            [type]="'minus'"
            (clickedIcon)="handleClickedBoardHideShow(board.id)">
          </nssd-icon>
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [size]="'2x'"
            [title]="'Move Board Up'"
            [type]="'arrow-up'"
            (clickedIcon)="handleClickedBoardUp(board.id)">
          </nssd-icon>
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [size]="'2x'"
            [title]="'Move Board Down'"
            [type]="'arrow-down'"
            (clickedIcon)="handleClickedBoardDown(board.id)">
          </nssd-icon>
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [isShown]="board.isOpen"
            [size]="'2x'"
            [title]="'Edit Board'"
            [type]="'info-circle'"
            (clickedIcon)="handleClickedBoardEdit(board.id)">
          </nssd-icon>
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [isShown]="board.isOpen"
            [size]="'2x'"
            [title]="'Download Board'"
            [type]="'download'"
            (clickedIcon)="handleClickedBoardDownload(board.id)">
          </nssd-icon>
          <nssd-icon
            [disabledTitle]="messageDisableTitle"
            [isDisabled]="isLoading"
            [isShown]="((board.isOpen) || (board.isArchived))"
            [size]="'2x'"
            [title]="board.isArchived ? 'Unarchive Board' : 'Archive Board'"
            [type]="'archive'"
            [wildCardClasses]="board.isArchived ? 'color-lightgray' : ''"
            (clickedIcon)="handleClickedBoardArchive(board.id)">
          </nssd-icon>
        </div>
      </div>
      <div class="board-container {{!board.isOpen ? 'collapsed-container' : ''}}">
        <ng-container *ngFor="let id of statuses">
          <nssd-board-status-column
            [disabledLoadingMessage]="messageDisableTitle"
            [isArchived]="board.isArchived"
            [isLoading]="isLoading"
            [status]="id"
            [tasks]="board.tasks"
            (clickedBack)="handleClickedTaskMoveStatus($event, 'back', board.id)"
            (clickedDown)="handleClickedTaskMovePrioritze($event, 'down', board.id)"
            (clickedForward)="handleClickedTaskMoveStatus($event, 'forward', board.id)"
            (clickedHistory)="handleClickedTaskHistory($event, board.id)"
            (clickedInfo)="handleClickedTaskInfo($event, board.id)"
            (clickedMove)="handleClickedTaskMoveBoard($event, board.id)"
            (clickedStickyNote)="handleClickedTaskComment($event, board.id)"
            (clickedTrash)="handleClickedTaskDelete($event, board.id)"
            (clickedUp)="handleClickedTaskMovePrioritze($event, 'up', board.id)">
          </nssd-board-status-column>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>

<div kendoDialogContainer></div>
