.comment-container {
  min-height: 100%;
  padding-bottom: -32px;

  .description-area {
    height: 84px;
  }

  .list-area {
    height: 204px;
    overflow-y: auto;
  }
}

.button-container {
  margin-top: -32px;
  text-align: right;
}
