<div class="status-container">
  <h2 *ngIf="!!status">{{status | taskStatus}}</h2>
  <ng-container *ngFor="let task of tasks">
    <div *ngIf="!!task && task.status === status" class="task-container">
      <div class="task-details-container">
        <p *ngIf="!!task.name" class="task-name">{{task.name}}</p>
        <p *ngIf="!!task.description" class="task-description">{{task.description}}</p>
      </div>
      <div class="icon-bar-container">
        <p class="icon-container left-icon">
          <nssd-icon
            [disabledTitle]="disabledLoadingMessage"
            [isDisabled]="((isArchived) || (isLoading) || (status === 'created'))"
            [size]="'2x'"
            [title]="'Move Task Back'"
            [type]="'arrow-circle-left'"
            (clickedIcon)="handleClickedIconBack(task.id)">
          </nssd-icon>
        </p>
        <p class="icon-container center-icon">
          <ng-container *ngFor="let icon of centerIcons">
            <nssd-icon *ngIf="!!icon"
              [disabledTitle]="disabledLoadingMessage"
              [isDisabled]="((isArchived) || (isLoading))"
              [size]="'lg'"
              [title]="icon.title"
              [type]="icon.type"
              (clickedIcon)="handleClickedIcon(icon.type, task.id)">
            </nssd-icon>
          </ng-container>
        </p>
        <p class="icon-container right-icon">
          <nssd-icon
            [disabledTitle]="disabledLoadingMessage"
            [isDisabled]="((isArchived) || (isLoading) || (status === 'completed'))"
            [size]="'2x'"
            [title]="'Move Task Foward'"
            [type]="'arrow-circle-right'"
            (clickedIcon)="handleClickedIconForward(task.id)">
          </nssd-icon>
        </p>
      </div>
    </div>
  </ng-container>
</div>
