<div class="status-container">
  <h2 *ngIf="!!status">{{status | taskStatus}}</h2>
  <ng-container *ngFor="let task of tasks">
    <div *ngIf="!!task && task.status === status" class="task-container">
      <div class="task-details-container">
        <p *ngIf="!!task.name" class="task-name">{{task.name}}</p>
        <p *ngIf="!!task.description" class="task-description">{{task.description}}</p>
      </div>
      <div class="icon-bar-container">
        <p class="icon-container left-icon">
          <i class="fa fas fa-arrow-circle-left fa-2x {{((isArchived) || (isLoading) || (status === 'created')) ? 'disabled-cursor' : 'icon-cursor'}}"
            role="button"
            title="Move Task Back"
            (click)="handleButtonBackClick(task.id)">
          </i>
        </p>
        <p class="icon-container center-icon">
          <i class="fa fas fa-arrow-up fa-lg {{((isArchived) || (isLoading)) ? 'disabled-cursor' : 'icon-cursor'}}" role="button" title="Move Task Up" (click)="handleIconUpClick(task.id)"></i>
          <i class="fa fas fa-info-circle fa-lg {{((isArchived) || (isLoading)) ? 'disabled-cursor' : 'icon-cursor'}}" role="button" title="View Details" (click)="handleIconDetailsClick(task.id)"></i>
          <i class="fa fas fa-history fa-lg icon-cursor" role="button" title="View Task History" (click)="handleIconHistoryClick(task.id)"></i>
          <i class="fa fas fa-arrows fa-lg {{((isArchived) || (isLoading)) ? 'disabled-cursor' : 'icon-cursor'}}" role="button" title="Move Task to another Board" (click)="handleIconMoveClick(task.id)"></i>
          <i class="fa fas fa-trash fa-lg {{((isArchived) || (isLoading)) ? 'disabled-cursor' : 'icon-cursor'}}" role="button" title="Delete Task" (click)="handleIconDeleteClick(task.id)"></i>
          <i class="fa fas fa-arrow-down fa-lg {{((isArchived) || (isLoading)) ? 'disabled-cursor' : 'icon-cursor'}}" role="button" title="Move Task Down" (click)="handleIconDownClick(task.id)"></i>
        </p>
        <p class="icon-container right-icon">
          <i class="fa fas fa-arrow-circle-right fa-2x {{((isArchived) || (isLoading) || (status === 'completed')) ? 'disabled-cursor' : 'icon-cursor'}}"
            role="button"
            title="Move Task Foward"
            (click)="handleButtonForwardClick(task.id)">
          </i>
        </p>
      </div>
    </div>
  </ng-container>
</div>
