<div class="form-container">
  <div class="input-container">
    <label for="name">Name</label><br />
    <input name="name" [disabled]="isReadOnly" [value]="name" (change)="handleChangedName($event)" />
  </div>
  <div class="input-container">
    <label for="description">Description</label><br />
    <textarea class="description-area" name="description" [disabled]="isReadOnly" [value]="description" (change)="handleChangedDescription($event)"></textarea>
  </div>
  <div class="date-container">
    <span class="date-title">Created: </span> {{createdDate | dateFormatter}}
  </div>
</div>

<div class="button-container">
  <button *ngIf="!isReadOnly" class="nssd-button" [disabled]="!name" (click)="handleClickedSave()">Save</button>
  <button class="nssd-button" (click)="handleClickedCancel()">Close</button>
</div>
